
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Outfit:wght@300&display=swap');

:root {
  --accent1: #2C4031;
  --accent2: #2B5937;
  --accent3: #2c403b;

  --titlecol: #CCBBBBBE;
  --textcol: #BEBEBE;
  --textcolb: #68636ED3;
}

.menu{
    position: sticky;
    height: 80px;
    width: 95%;
    min-width: 350px;
    margin: 25px auto;
    padding: 10px;

    background: var(--accent3);
    background: linear-gradient(180deg, var(--accent1) 33%, var(--accent3) 80%);
    border-radius: 15px;
}

.menu .menuleft{
    float: left;
    
    margin: 0px;
    font-family: 'Oleo Script', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    height: 100%;
    
    color: var(--titlecol);

}

.menu .menuleft .logo {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    background: url(../images/logo.png);
    height: 60px;
    width: 60px;
    padding: 10px;
}

.menu .menuleft div {
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translate(45%,-50%);
}

.menumiddle{
    margin-left: 10px;
    padding-top: 25px;
    padding-left: 50px;
    position: absolute;
    width: 40%;
    left: 50%;
    transform: translate(-28vw);
}

@media screen and (max-width: 930px) {
  .menumiddle{
    display: none;
  }
}

.menu .menumiddle .searchbar {  
  font-family: 'Outfit', sans-serif;
  color: var(--textcol);
  min-width: 50px;
  height: 40px;
  width: 100%;
  font-size: 18px;
  
  background-color: #00000060;
}

.menu .menuright{
    padding-top: 10px;
    float: right;    
}

.menu .menuright div {
    position: absolute;
    top: 50%;
    transform: translate(-100%,-50%);
    text-align: right;
}

.menusmall{
    position: sticky;
    height: 60px;
    margin: auto;
    width: 90%;
    min-width: 350px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 5px;

    background: var(--accent3);
    background: linear-gradient(180deg, var(--accent1) 33%, var(--accent3) 80%);
    border-radius: 10px;
}

.menusmall .menuleft{
    float: left;
    
    margin: 0px;
    font-family: 'Oleo Script', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 55px;
    text-align: center;
    height: 100%;
    
    color: var(--titlecol);

}

.menusmall .menuleft .logo {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    background: url(images/logo.png);
    height: 40px;
    width: 40px;
    padding: 10px;
}

.menusmall .menuleft div {
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translate(45%,-45%);
}

.menusmall .menuright{
    padding-top: 10px;
    float: right;    
}

.menusmall .menuright div {
    position: absolute;
    top: 50%;
    transform: translate(-100%,-50%);
    text-align: right;
    font-size: 15px;  
}

.menusmall .menuright p {
    width: 250px;
    position: absolute;
    top: 50%;
    transform: translate(-100%,-100%);
    text-align: right;
    font-size: 15px;  
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropbutton{
    background-color: #00000000;
    border: 0px;
    border-color: #000000;
}

.droplist{
    display: none;
    position: relative;
    background-color: var(--accent3);
    min-width: 160px;
    opacity: 0.5;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5px;
}


.droplist a:hover {background-color: rgba(221, 221, 221, 0);}
.dropdown:hover .droplist {display: block;}
.dropdown:hover .dropbutton {border: 10px;}

h2{
    position: relative;
    margin: auto;

    font-family: 'Oleo Script', 'sans-serif';
    font-style: normal;
    font-weight: 250;
    font-size: 30px;
    line-height: 55px;
    text-align: center;

    color: var(--textcol);
}

body{
    background: url(../images/wood.svg);
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: var(--textcol);
}

pre{
    margin: 0px;
}

.board{
    box-sizing: border-box;
    margin: 0px 50px 50px;
    padding: 10px;
    
    position: relative;
    text-align: left;

    background: url(../images/chalkboard.jpg);
    border: 4px solid var(--accent2)
}

.largeboard{
    box-sizing: border-box;
    margin: 0px 50px 50px;
    padding: 10px 50px;
    
    position: relative;
    min-height: 600px;
    text-align: left;

    background: url(../images/chalkboard.jpg);
    border: 4px solid var(--accent2)
}

@media screen and (max-width: 565px) {
    .largeboard{
      padding: 10px 20px;
    }
}

#termcount{
    display: inline;
}

.homeboard{
    box-sizing: border-box;
    margin: 0px 15px 50px;
    padding: 10px;
    
    position: relative;
    /*height: 800px;*/
    width: 35%;
    min-height: 800px;
    min-width: 150px;
    text-align: left;

    background: url(../images/chalkboard.jpg);
    background-position: left bottom;
    border-radius: 5px;
    border: 4px solid var(--accent2);
}

.groupboard{
    box-sizing: border-box;
    margin: auto;
    display: flex;
    align-items: stretch;
}

#termlist{
    display: flex;
    flex-wrap: wrap;
}

.term{
    margin: 5px 10px 5px 0px;
    max-height: fit-content;
    max-width: 620px;
    min-width: 200px;
    padding: 10px;
    position: relative;
    text-align: left;

    background: var(--fullbg);
    opacity: 0.75;
}

.row{
    display: inline-block;
}

footer{
  margin: -10px 0px -10px -10px;
  background: var(--accent1);
  width: 100vw;
  padding: 10px;
  font-size: 15px;

}

a:link {
    font-size: 15px;
    color: var(--textcol);
    text-decoration: none;
}

a:visited {
    font-size: 15px;
    color: var(--textcol);
    text-decoration: none;
}

a:hover {
    font-size: 20px;
    text-decoration: underline;
    transition: ease-in-out 0.2s;
}

a:active {
    font-size: 15px;
    color: var(--textcol);
    font-weight: bold;
}


/*Game css*/

:root{
    --defaultbg: #000000;
    --defaultbd: #ffffff;

    --fullbg: #1a1818;
    --fullbd: #b1a9a9;

    --correctbg: #238649;
    --correctbd: #265534;

    --incorrectbg: #9e9034;
    --incorrectbd: #776b1f;

    --wrongbg: #c32828;
    --wrongbd: #a01c1c;

    --box-size: 20px;
}

#grid-container {
    display: grid;
    margin: auto;
    margin-top: 150px;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;
}
  
.square {
    background: var(--defaultbg);
    border: solid 1px;
    border-color: var(--defaultbd);
    color: var(--textcol);
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    margin: 2px;
    padding: 20px 23px 20px 17px;
    width: var(--box-size);
    height: var(--box-size);
}

.full {
    background: var(--fullbg);
    border-color: var(--fullbd);
}
  
.correct {
    background: var(--correctbg);
    border-color: var(--correctbd);
}
  
.incorrect {
    background: var(--incorrectbg);
    border-color: var(--incorrectbd);
}
  
.wrong {
    background: var(--wrongbg);
    border-color: var(--wrongbd);
}

