
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Outfit:wght@300&display=swap');

:root {
  --accent1: #2C4031;
  --accent2: #2B5937;
  --accent3: #2c403b;
  --textcol: #BEBEBE;
  --titlecol: #595959;
}

.menu{
    position: sticky;
    height: 80px;
    margin: auto;
    width: 90%;
    min-width: 350px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;

    /*background: var(--accent1);*/
    background: var(--accent3);
    background: linear-gradient(180deg, var(--accent1) 33%, var(--accent3) 80%);
    border-radius: 15px;
}

.menu .menuleft{
    float: left;
    
    margin: 0px;
    font-family: 'Oleo Script', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    height: 100%;
    
    color: var(--titlecol);

}

.menu .menuleft .logo {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    background: url(images/logo.png);
    height: 60px;
    width: 60px;
    padding: 10px;
}

.menu .menuleft div {
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translate(45%,-50%);
}

.menumiddle{
    margin-left: 10px;
    padding-top: 25px;
    padding-left: 50px;
    position: absolute;
    width: 40%;
    left: 50%;
    transform: translate(-45%);
}

@media screen and (max-width: 690px) {
  .menumiddle{
    display: none;
  }
}

.menu .menumiddle .searchbar {  
  font-family: 'Outfit', sans-serif;
  min-width: 50px;
  height: 36px;
  width: 100%;
}

.menu .menuright{
    padding-top: 10px;
    float: right;    
}

.menu .menuright div {
    position: absolute;
    top: 50%;
    transform: translate(-100%,-50%);
    text-align: right;
}

.menusmall{
    position: sticky;
    height: 60px;
    margin: auto;
    width: 90%;
    min-width: 350px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 5px;

    /*background: var(--accent1);*/
    background: var(--accent3);
    background: linear-gradient(180deg, var(--accent1) 33%, var(--accent3) 80%);
    border-radius: 10px;
}

.menusmall .menuleft{
    float: left;
    
    margin: 0px;
    font-family: 'Oleo Script', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 55px;
    text-align: center;
    height: 100%;
    
    color: var(--titlecol);

}

.menusmall .menuleft .logo {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    background: url(images/logo.png);
    height: 40px;
    width: 40px;
    padding: 10px;
}

.menusmall .menuleft div {
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translate(45%,-50%);
}


.menusmall .menuright{
    padding-top: 10px;
    float: right;    
}

.menusmall .menuright div {
    position: absolute;
    top: 50%;
    transform: translate(-100%,-50%);
    text-align: right;
    font-size: 15px;
    
}

h2{
    position: relative;
    margin: auto;

    font-family: 'Oleo Script', 'sans-serif';
    font-style: normal;
    font-weight: 250;
    font-size: 30px;
    line-height: 55px;
    text-align: center;

    color: var(--textcol);
}

body{
    background: url(../images/wood.svg);
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: var(--textcol);
}

pre{
    margin: 0px;
}

.board{
    box-sizing: border-box;
    margin: 0px 50px 50px;
    padding: 10px;
    
    position: relative;
    text-align: left;

    background: url(../images/chalkboard.jpg);
    border: 4px solid var(--accent2)
}

.largeboard{
    box-sizing: border-box;
    margin: 0px 50px 50px;
    padding: 10px;
    
    position: relative;
    height: 600px;
    text-align: left;

    background: url(../images/chalkboard.jpg);
    border: 4px solid var(--accent2)
}

.homeboard{
    box-sizing: border-box;
    margin: 0px 15px 50px;
    padding: 10px;
    
    position: relative;
    /*height: 800px;*/
    width: 35%;
    min-height: 800px;
    min-width: 150px;
    text-align: left;

    background: url(../images/chalkboard.jpg);
    background-position: left bottom;
    border-radius: 5px;
    border: 4px solid var(--accent2);
}

.groupboard{
    box-sizing: border-box;
    margin: auto;
    display: flex;
    align-items: stretch;
}

footer{
  background: var(--accent1);
  padding-bottom: 300px;
  padding: 10px;
  margin: 0px;
  font-size: 15px;
}

a:link {
    font-size: 15px;
    color: var(--textcol);
    text-decoration: none;
}

a:visited {
    font-size: 15px;
    color: var(--textcolb);
    text-decoration: bold;
}

a:hover {
    font-size: 20px;
    text-decoration: underline;
}

a:active {
    font-size: 15px;
    color: var(--textcol);
    text-decoration: none;
}


/*Game css*/

:root{
    --defaultbg: #000000;
    --defaultbd: #ffffff;
    --fullbg: #121111;
    --fullbd: #ffffff;
    --correctbg: #238649;
    --correctbd: #46b969;
    --incorrectbg: #9e9034;
    --incorrectbd: #a09446;
    --wrongbg: #c32828;
    --wrongbd: #a01c1c;

    --box-width: 50px;
    --centre-pos: 30%;
}

#grid-container {
    display: grid;
    margin: auto;
    margin-top: 150px;
    justify-content: center;
    position: relative;
    width: 33%;
    margin-bottom: 50px;
  }
  
  .square {
    background: var(--defaultbg);
    border: solid 1px var(--defaultbd);
    color: var(--textcol);
    font-size: 40px;
    margin: 2px;
    width: var(--box-width);
    height: 50px;
  }

  .full {
    background: var(--fullbg);
    border: var(--fullbd);
  }
  
  .correct {
    background: var(--correctbg);
    border: var(--correctbd);
  }
  
  .wrong {
    background: var(--incorrectbg);
    border: var(--incorrectbd);
  }
  
  .incorrect {
    background: var(--wrongbg);
    border: var(--wrongbd);
  }

